[submodule "sources/中古漢語/中古漢語（切韻音系）全拼及三拼"]
	path = sources/中古漢語/中古漢語（切韻音系）全拼及三拼
	url = https://github.com/biopolyhedron/rime-middle-chinese
[submodule "sources/中古漢語/中古四拼"]
	path = sources/中古漢語/中古四拼
	url = https://github.com/inzoi/inzoi.github.io.git
[submodule "sources/中古漢語/爾切羅馬字"]
	path = sources/中古漢語/爾切羅馬字
	url = https://github.com/rime-aca/rime-nieh-ched
[submodule "sources/粵語/沟漏片藤县白话输入方案"]
	path = sources/粵語/沟漏片藤县白话输入方案
	url = https://github.com/cryptogun/gaulau_jyutping.git
[submodule "sources/粵語/粤拼"]
	path = sources/粵語/粤拼
	url = https://github.com/rime/rime-jyutping
[submodule "sources/吳語/蘇州吳語"]
	path = sources/吳語/蘇州吳語
	url = https://github.com/rime/rime-soutzoe
[submodule "sources/吳語/上海吳語"]
	path = sources/吳語/上海吳語
	url = https://github.com/rime/rime-wugniu
[submodule "sources/域外方音/옛한글・漢字"]
	path = sources/域外方音/옛한글・漢字
	url = https://github.com/biopolyhedron/rime-qyeyshanglr-hanja.git
[submodule "sources/域外方音/한글"]
	path = sources/域外方音/한글
	url = https://github.com/rime-aca/rime-hangyl.git
[submodule "sources/域外方音/poly日文"]
	path = sources/域外方音/poly日文
	url = https://github.com/biopolyhedron/rime-jap-poly.git
[submodule "sources/粵語/粵拼⁺"]
	path = sources/粵語/粵拼⁺
	url = https://github.com/rime-aca/rime-jyutping-plus
[submodule "sources/粵語/袖珍粵拼"]
	path = sources/粵語/袖珍粵拼
	url = https://github.com/rime-aca/rime-jyutping-compact.git
[submodule "sources/粵語/粵語注音"]
	path = sources/粵語/粵語注音
	url = https://github.com/rime-aca/rime-zyujam
[submodule "sources/中古漢語/廣韻段毄攴字灋"]
	path = sources/中古漢語/廣韻段毄攴字灋
	url = https://github.com/rime-aca/rime-kmg
[submodule "sources/吳語/吳語（蘇州）"]
	path = sources/吳語/吳語（蘇州）
	url = https://github.com/NGLI/rime-wugniu_soutseu.git
[submodule "sources/吳語/吳語（上海）"]
	path = sources/吳語/吳語（上海）
	url = https://github.com/NGLI/rime-wugniu_zaonhe.git
[submodule "sources/吳語/吳語-嘉興"]
	path = sources/吳語/吳語（嘉興）
	url = https://github.com/NGLI/rime-wugniu_kashin.git
[submodule "sources/吳語/吳語（寧波）"]
	path = sources/吳語/吳語（寧波）
	url = https://github.com/NGLI/rime-wugniu_gninpou.git
[submodule "sources/客家話/崇正客語輸入法"]
	path = sources/客家話/崇正客語輸入法
	url = https://github.com/syndict/hakka.git
[submodule "sources/客家話/客拼"]
	path = sources/客家話/客拼
	url = https://github.com/xunux/hakka-culture.git
[submodule "sources/中古漢語/唐韻"]
	path = sources/中古漢語/唐韻
	url = https://github.com/rime-aca/rime-dangrvond
[submodule "sources/中原官話/中原官話洛陽方言"]
	path = sources/中原官話/中原官話洛陽方言
	url = https://github.com/Patricivs/lakyang
[submodule "sources/中原官話/中原官話輸入方案"]
	path = sources/中原官話/中原官話輸入方案
	url = https://github.com/lotem/rime-zhung
[submodule "sources/西南官話/蜀拼"]
	path = sources/西南官話/蜀拼
	url = https://github.com/Papnas/shupin
[submodule "sources/江淮官話/南京話拼音输入法"]
	path = sources/江淮官話/南京話拼音输入法
	url = https://github.com/uliloewi/lang2jin1
[submodule "sources/中原官話/棗莊話羅馬字輸入方案"]
	path = sources/中原官話/棗莊話羅馬字輸入方案
	url = https://github.com/tsauibusato/yihdjoouhuah
[submodule "sources/閩南語/閩南語輸入方案"]
	path = sources/閩南語/閩南語輸入方案
	url = https://github.com/a-thok/rime-hokkien
[submodule "sources/閩南語/潮语拼音输入法"]
	path = sources/閩南語/潮语拼音输入法
	url = https://github.com/kahaani/dieghv
[submodule "sources/閩南語/潮汕话輸入方案"]
	path = sources/閩南語/潮汕话輸入方案
	url = https://github.com/femkerr/dieghe
[submodule "sources/閩東語/平話字表 (閩東語 福州話)"]
	path = sources/閩東語/平話字表 (閩東語 福州話)
	url = https://github.com/only3km/ciklinbekin
[submodule "sources/吳語/樂清話拼音輸入法"]
	path = sources/吳語/樂清話拼音輸入法
	url = https://github.com/lotem/rime-aoyu.git
[submodule "sources/閩南語/閩南語拼音輸入方案"]
	path = sources/閩南語/閩南語拼音輸入方案
	url = https://github.com/LimTo/etaiBLG
[submodule "sources/西南官話/咵一咵湖北话"]
	path = sources/西南官話/咵一咵湖北话
	url = https://github.com/yuxifongfei/hubehua.git
[submodule "sources/江淮官話/南通方言"]
	path = sources/江淮官話/南通方言
	url = https://github.com/gaozhiyan/nt_input.git
[submodule "sources/莆仙語/兴化韵莆仙话输入方案"]
	path = sources/莆仙語/兴化韵莆仙话输入方案
	url = https://github.com/Yaryou/HinghuaFactory.git
[submodule "sources/粵語/南寧話輸入方案"]
	path = sources/粵語/南寧話輸入方案
	url = https://github.com/leimaau/naamning_jyutping
	
[submodule "sources/域外方音/rime-kunyomi"]
	path = sources/域外方音/rime-kunyomi
	url = https://github.com/sgalal/rime-kunyomi
[submodule "sources/域外方音/rime-hanja"]
	path = sources/域外方音/rime-hanja
	url = https://github.com/sgalal/rime-hanja
