---
import ProseLayout from "../layouts/ProseLayout.astro";
---
<ProseLayout title="資源" active="resources" kicker="延伸資料" heading="方案相關資源">
  <p>本頁整理 README 中提到的方案白皮書、教程、字典與語料入口。v1 先提供資源索引；後續可依語系補充更細的說明頁。</p>
  <h2>教程</h2>
  <ul>
    <li><a href="https://rime.im/">Rime 官方網站</a></li>
    <li><a href="https://github.com/rime/plum">plum 配方安裝工具</a></li>
    <li><a href="https://github.com/laubonghaudoi/Chinese_Rime">Chinese_Rime 源碼倉庫</a></li>
  </ul>
  <h2>字典與語料</h2>
  <p>各方案的字典、詞庫與白皮書多隨上游配方倉庫維護。請從方案頁的「前往上游倉庫」查看最新資料。</p>
</ProseLayout>
